In [ ]:
✅ Sets Tasks
1.Find Common Elements Between Two Sets
Given two sets, find the common elements.
Example: {1, 2, 3, 4} and {3, 4, 5, 6} → {3, 4}
2.Find Unique Elements from Two Lists Using Sets
Given two lists, find all unique elements (no duplicates) using sets.
Example: [1, 2, 3, 4] and [3, 4, 5, 6] → {1, 2, 3, 4, 5, 6}

Find the Common Elements between two sets

In [1]:
p={1,2,3,4}
k={3,4,5,6}
p.intersection_update(k)
print(p)

{3, 4}

In [2]:
p={1,2,3,4}
k={3,4,5,6}
l=p.intersection(k)
print(l)

{3, 4}

Find Unique Elements from 2 lists using sets

In [3]:
w=[1,2,3,4]
x=[3,4,5,6]
y=set(w)
z=set(x)
a=y.symmetric_difference(z)
print(a)

{1, 2, 5, 6}

In [4]:
y.symmetric_difference_update(z)
print(y)

{1, 2, 5, 6}

Basic Level
1.Create a set of the first 10 natural numbers and print it.
2.Write a program to add an element to a given set.
3.Write a program to remove an element from a set using both remove() and discard().
4.Check if a given element exists in a set or not.
5.Write a program to find the length of a given set.

In [5]:
set_1={1,2,3,4,5,6,7,8,9,10}
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
set_1.add(11)
set_1.add(12)
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [9]:
set_1.remove(11)
set_1.discard(12)
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [11]:
if 2 in set_1:
    print("exists in set")

exists in set

In [12]:
len(set_1)

10

In [ ]:
Intermediate Level
6.Given two sets {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}, write a program to:
Find their union
Find their intersection
Find their difference (elements in the first set but not in the second)
Find their symmetric difference
7.Write a Python program to remove all duplicate elements from a list using a set or Given a list of numbers, find all unique elements using a set.
8.Write a Python function that takes two sets as input and returns True if one set is a subset of the other.

In [14]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
set3=set1.union(set2)
print(set3)
set4=set.intersection(set2)
print(set4)
set1.difference_update(set2)
print(set1)
set5=set1.symmetric_difference(set2)
print(set5)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
l=[23,45,89,23,"Tree","Monkey",34,"Monkey",45]
s=set(l)#set doesn't allow duplicate values
print(s)

{34, 45, 23, 'Tree', 89, 'Monkey'}

In [26]:
w={1, 2, 3, 4, 5, 6, 7, 8}
x={4, 5, 6, 7, 8}
z=x.issubset(w)# x is a subset of w 
print(z)
q=w.issuperset(x)# w is a superset of x
print(q)

True
True

In [ ]:
Advanced Level
9.Write a program to check if two sets are disjoint (i.e., they have no elements in common).
10.Given a list of words, write a program to find the number of unique words using a set.
11.Implement a function to check if two sets are equal (i.e., contain the same elements).
12.Write a program to generate all possible subsets of a given set.
13.Given a string, write a program to count the number of unique characters using a set.

In [28]:
t={4, 5, 6, 7, 8}
k={3,1,2}
j=t.isdisjoint(k)
print(j)

True

In [8]:
t={4, 5, 6, 7, 8}
k={4,5,6,7,8}
if k==t:
    print("contain same elements")
else:
    print("doesn't contain same elements")

contain same elements