In [ ]:
✅ Tuples Tasks
1.Convert List to Tuple
Take a list from the user and convert it into a tuple.
Example: [1, 2, 3, 4] → (1, 2, 3, 4)
2.Find the Index of an Element in a Tuple
Given a tuple and an element, find the index of the element.
Example: (5, 10, 15, 20) → Element: 15 → Index: 2

In [5]:
f=input("enter:").split(",")
print(f)
first=tuple(f)
print(first)

enter: 90,34,56

['90', '34', '56']
('90', '34', '56')

In [6]:
m=(56,"hello","red",67,(23,45),[34,"flower"])
for i in m:
    p=m.index(i)
    print("The index value for ",i,"is:",p)

The index value for  56 is: 0
The index value for  hello is: 1
The index value for  red is: 2
The index value for  67 is: 3
The index value for  (23, 45) is: 4
The index value for  [34, 'flower'] is: 5

In [ ]:
Basic Tuple Operations
3.Create a tuple with at least five elements and print it.
4.Access elements in a tuple using positive and negative indexing.
5.Find the length of a tuple without using len().
6.Concatenate two tuples and print the result.
7.Repeat a tuple multiple times using the * operator.

Create a tuple with at least five elements and print it.

In [1]:
p=("tree",["you","me"],89,43)
print(p)

('tree', ['you', 'me'], 89, 43)

Access elements in a tuple using positive and negative indexing.

In [3]:
print(p[1])
print(p[-4])
print(p[:2])

['you', 'me']
tree
('tree', ['you', 'me'])

Find the length of a tuple without using len().

In [4]:
p=("tree",["you","me"],89,43)
count=0
for i in p:
    count=count+1
print(count)

4

Concatenate two tuples and print the result.

In [5]:
p=("tree",["you","me"],89,43)
m=(56,"hello","red",67,(23,45),[34,"flower"])
v=p+m
print(v)

('tree', ['you', 'me'], 89, 43, 56, 'hello', 'red', 67, (23, 45), [34, 'flower'])

Repeat a tuple multiple times using the * operator.

In [6]:
n=(67,(23,45),[34,"flower"])
r=n*4
print(r)

(67, (23, 45), [34, 'flower'], 67, (23, 45), [34, 'flower'], 67, (23, 45), [34, 'flower'], 67, (23, 45), [34, 'flower'])

In [ ]:
Tuple Manipulation
8.Check if an element exists in a tuple.
9.Convert a tuple into a list, modify the list, and convert it back into a tuple.
10.Find the maximum and minimum values in a tuple of numbers.
11.Count the occurrences of an element in a tuple.

Check if an element exists in a tuple.

In [8]:
v=('tree', ['you', 'me'], 89, 43, 56, 'hello', 'red', 67, (23, 45), [34, 'flower'])
if "red" in v:
    print("yes")
else:
    print("no")

yes

In [ ]:
Convert a tuple into a list, modify the list, and convert it back into a tuple.

In [10]:
v=('tree', ['you', 'me'], 89, 43, 56, 'hello', 'red', 67, (23, 45), [34, 'flower'])
p=list(v)
p[1][1]="happy"
l=tuple(p)
print(l)

('tree', ['you', 'happy'], 89, 43, 56, 'hello', 'red', 67, (23, 45), [34, 'flower'])

Find the maximum and minimum values in a tuple of numbers.

In [ ]:
v=( 89, 43, 56,67, (23, 45), [34])
v.sort()# sort() is not applicable for tuples because tuple is immutable
print(v)# Attribute error(change tuple to list and sort values)

In [25]:
v=( 89, 43, 56,67)
i=list(v)
i.sort()
print(i[0])
print(i[-1])

43
89

In [26]:
v=( 89, 43, 56,67,23, 45)
p=max(v)
o=min(v)
print(p)
print(o)

89
23

Count the occurrences of an element in a tuple

In [30]:
v=( 89, 43, 56,67,23, 45,100,43,45,98,45,100)
for i in v:
    p=v.count(i)
    print("Count of",i,":",p)

Count of 89 : 1
Count of 43 : 2
Count of 56 : 1
Count of 67 : 1
Count of 23 : 1
Count of 45 : 3
Count of 100 : 2
Count of 43 : 2
Count of 45 : 3
Count of 98 : 1
Count of 45 : 3
Count of 100 : 2

In [ ]:
Tuple Slicing and Unpacking
12.Slice a tuple to get a subset of elements.
13.Unpack a tuple into multiple variables.
14.Swap two variables using tuple unpacking.
15.Reverse a tuple using slicing.
16.Convert a string into a tuple of characters.

Slice a tuple to get a subset of elements.

In [31]:
slice=('tree', ['you', 'happy'], 89, 43, 56, 'hello', 'red', 67, (23, 45), [34, 'flower'])
subset_1=slice[0:2]
subset_2=slice[:-5]
subset_3=slice[-5:8]
print(subset_1)
print(subset_2)
print(subset_3)

('tree', ['you', 'happy'])
('tree', ['you', 'happy'], 89, 43, 56)
('hello', 'red', 67)

Unpack a tuple into multiple variables.

In [34]:
slice=('tree', ['you', 'happy'], 89, 43, 56, 67, (23, 45), [34, 'flower'])
(x,*y,z)=slice
print(x)
print(y)
print(z)

tree
[['you', 'happy'], 89, 43, 56, 67, (23, 45)]
[34, 'flower']

Swap two variables using tuple unpacking.

In [1]:
m=int(input("enter:"))
r=int(input("enter:"))
m,r=r,m#tuple unpacking occur
print(m)
print(r)

enter: 4
enter: 6

6
4

Reverse a tuple using slicing.

In [36]:
w=(['you', 'happy'], 89, 43, 56, 67, (23, 45))
x=w[::-1]
print(x)

((23, 45), 67, 56, 43, 89, ['you', 'happy'])

Convert a string into a tuple of characters.

In [40]:
pure="Trip to germany"
impure=pure.split(" ")
print(tuple(impure))

('Trip', 'to', 'germany')

In [ ]:
Tuple Functions and Applications
17.Find the sum of all numbers in a tuple.
18.Find the product of all numbers in a tuple.
19.Merge two sorted tuples into one sorted tuple.
20.Convert a list of tuples into a dictionary.

Find the sum of all numbers in a tuple.

In [44]:
b=( 89, 43, 56,67,23, 45)
sum=0
for i in b:
    sum=sum+i
print(sum)

323

Find the product of all numbers in a tuple.

In [46]:
b=( 89, 43, 56,67,23, 45)
product=1
for i in b:
    product=product*i
print(product)

14861465640

Merge two sorted tuples into one sorted tuple.

In [53]:
a=(90, 34, 56)
c=( 89, 43, 56,67,23, 45)
d=list(a)
e=list(c)
d.sort()
e.sort()
f=d+e
f.sort()
g=tuple(f)
print(g)

(23, 34, 43, 45, 56, 56, 67, 89, 90)

Convert a list of tuples into a dictionary.

In [2]:
u=[("white","red"),(1,2),("mask","tree")]
p=dict(u)
print(p)

{'white': 'red', 1: 2, 'mask': 'tree'}

In [ ]:
Advanced Tuple Tasks
21.Find common elements between two tuples.
22.Remove duplicate elements from a tuple.
23.Find elements present in one tuple but not in another.
24.Create a nested tuple and access its elements.
25.Find the most frequently occurring element in a tuple.

Find common elements between two tuples.

In [81]:
a=(34,56,98)
m=(54,78,98,100)
for i in a:
    if i in m:
        print(i)

98

Remove duplicate elements from a tuple.

In [62]:
v=( 89, 43, 56,67,23, 45,100,43,45,98,45,100)
p=list(v)
for i in p:
    if p.count(i)>=2:
        p.remove(i)
print(p)

[89, 56, 67, 23, 43, 98, 45, 100]

Find elements present in one tuple but not in another.

In [80]:
a=(90, 34, 56)
c=( 89, 43, 56,67,23, 45)
for i in a:
    if i not in c:
        print(i)

90
34

Create a nested tuple and access its elements.

In [78]:
a=((23, 45), 67, 56, 43, 89, ['you', 'happy'])
p=list(a)
nested=p[2:]
nested[-1]=["you","are","too","chill"]
print(nested)

[56, 43, 89, ['you', 'are', 'too', 'chill']]